In [3]:

import glob
import os
import boto3
import boto.s3.connection
import json
from botocore.exceptions import NoCredentialsError

bucket_name = 'covid-19-eu-bucket'
folder_name = 'E:/DataBase/covid_visualization/'

access_key = 'AKIA2BYDZSZRM2FKBW3N'                       # Access Key of User
secret_key = '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'   # Secret Key of User

def load_to_aws_s3(bucket_name,folder_name,access_key,secret_key):   
    path_to_json = 'E:/DataBase/covid_visualization/'
    json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]
    print(json_files)

    s3 = boto3.client('s3',aws_access_key_id=access_key,aws_secret_access_key=secret_key)
    for filename in json_files:
        key = filename
        s3.upload_file(os.path.join(path_to_json, filename), bucket_name, key)
        print("Putting %s as %s" % (filename,key))

    print("All_Done")
load_to_aws_s3(bucket_name,folder_name,access_key,secret_key)

['covid-19_eu_deaths.json', 'covid-19_eu_hospitals_icu_rates.json', 'covid-19_eu_test.json', 'covid-19_eu_vaccine.json', 'covid-19_eu_variant.json']
Putting covid-19_eu_deaths.json as covid-19_eu_deaths.json
Putting covid-19_eu_hospitals_icu_rates.json as covid-19_eu_hospitals_icu_rates.json
Putting covid-19_eu_test.json as covid-19_eu_test.json
Putting covid-19_eu_vaccine.json as covid-19_eu_vaccine.json
Putting covid-19_eu_variant.json as covid-19_eu_variant.json
All_Done

In [4]:
import json
import io
import pandas as pd
import boto3
import boto.s3.connection
from botocore.exceptions import NoCredentialsError

ACCESS_KEY = 'AKIA2BYDZSZRM2FKBW3N'                      
SECRET_KEY = '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'   

REGION = ' us-east-1'                                     
BUCKET_NAME = 'covid-19-eu-bucket'                                     
deaths = 'covid-19_eu_deaths.json' # File path in S3 
hospital_icu='covid-19_eu_hospitals_icu_rates.json'
tests='covid-19_eu_test.json'
variants ='covid-19_eu_variant.json'
vaccines='covid-19_eu_vaccine.json'

test=''
s3 = boto3.client(
        's3',                                             
#         region_name = REGION,
        aws_access_key_id = ACCESS_KEY,
        aws_secret_access_key = SECRET_KEY
    )
death_obj = s3.get_object(Bucket= BUCKET_NAME , Key = deaths)               
deaths1 = json.load(io.BytesIO(death_obj['Body'].read()), encoding='utf8')

hospital_icu_obj = s3.get_object(Bucket= BUCKET_NAME , Key = hospital_icu)               
hospital_icu2 = json.load(io.BytesIO(hospital_icu_obj['Body'].read()), encoding='utf8')


tests_obj = s3.get_object(Bucket= BUCKET_NAME , Key = tests)               
tests3 = json.load(io.BytesIO(tests_obj['Body'].read()), encoding='utf8')

variants_obj = s3.get_object(Bucket= BUCKET_NAME , Key = variants)               
variants4 = json.load(io.BytesIO(variants_obj['Body'].read()), encoding='utf8')

vaccine_obj=s3.get_object(Bucket= BUCKET_NAME , Key = vaccines)
vaccines5 = json.load(io.BytesIO(vaccine_obj['Body'].read()), encoding='utf8')

In [5]:
import csv
import pymongo
from pymongo import MongoClient
import pandas as pd
import json

In [7]:
#Connecting to MongoDB AWS cloud database server
import pymongo
cluster = pymongo.MongoClient('mongodb+srv://nivedita:C}wdkn9WxayH@cluster-covid19.wdh6w.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')

collection_db = cluster['Cluster-Covid19']
cluster_collection_list = ['eu_death','eu_hospital_icu','eu_test','eu_variants','eu_vaccines'] # List of all 3 collection.
list_collection = [deaths1,hospital_icu2,tests3,variants4,vaccines5]
  
# cluster_collection_list = ['eu_death_file_key','vaccination_eu_file_key'] # List of all 3 collection.
# list_collection = [deaths_eu_region_data_1,vaccination_eu_region_data_2]                                     # List of all 3 dataframes.

#Creating collections inside database
for collection_file in range(len(cluster_collection_list)):
    
        collection_db.drop_collection(cluster_collection_list[collection_file])
        collection_db.create_collection(cluster_collection_list[collection_file])
        collection = collection_db[cluster_collection_list[collection_file]]
#         list_collection[i]
        #Inserting records
#         print(list_collection[i].shape)
        records = list_collection[collection_file]
        collection.insert(records)

<ipython-input-7-157e160d41d3>:22: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  collection.insert(records)

In [8]:
##### reading files from AWS atlas######

eu_covid_files=[]

for file in range(len(cluster_collection_list)):
    cluster = collection_db[cluster_collection_list[file]]
    
    files = []
    
    for collection in cluster.find():
        files.append(collection)          
    
    eu_covid_files.append(files) 
print('fetched_collection_files from cluster',len(eu_covid_files))

fetched_collection_files from cluster 5

In [9]:
# To close the connection.
cluster.close

Collection(Database(MongoClient(host=['cluster-covid19-shard-00-01.wdh6w.mongodb.net:27017', 'cluster-covid19-shard-00-00.wdh6w.mongodb.net:27017', 'cluster-covid19-shard-00-02.wdh6w.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-k5bbem-shard-0', ssl=True), 'Cluster-Covid19'), 'eu_vaccines.close')

In [10]:
import pandas as pd
print(eu_covid_files[0])
print(eu_covid_files[1])
print(eu_covid_files[2])
print(eu_covid_files[3])
print(eu_covid_files[4])
eu_deaths = pd.DataFrame(eu_covid_files[0])
eu_hospital_icu = pd.DataFrame(eu_covid_files[1])
eu_test=pd.DataFrame(eu_covid_files[2])
eu_variant=pd.DataFrame(eu_covid_files[3])
eu_vaccines=pd.DataFrame(eu_covid_files[4])

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [11]:
######conversion of json object from mongodb cluster to dataframe with headers######


import pandas as pd
import numpy as np
eu_deaths = pd.DataFrame(eu_covid_files[0])


eu_deaths = eu_deaths.drop(labels=['_id'], axis = 1)



eu_deaths=eu_deaths['records']
d = eu_deaths.to_dict()
df = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in d.items() ]))
eu_deaths_con_df = df.join(pd.DataFrame(df.pop(0).values.tolist()))
eu_deaths_df = pd.DataFrame(eu_deaths_con_df)
eu_deaths_df.head()

###checking null values######

eu_deaths_df.isnull().values.any()
eu_deaths_df.isnull().sum()

eu_deaths_df.replace(to_replace =['', np.nan],  value ="0", inplace=True)


eu_deaths_df = eu_deaths_df.rename({'dateRep': 'dateofreport', 'countriesAndTerritories': 'country','geoId':'geo_id','countryterritoryCode':'country_code','countryterritoryCode':'country_code','popData2020':'population_2020','continentExp':'continent'}, axis=1)

eu_deaths_df.head()

,dateofreport,day,month,year,cases,deaths,country,geo_id,country_code,population_2020,continent
0,09/12/2021,09,12,2021,6208,47,Austria,AT,AUT,8901064,Europe
1,08/12/2021,08,12,2021,3879,67,Austria,AT,AUT,8901064,Europe
2,07/12/2021,07,12,2021,4645,69,Austria,AT,AUT,8901064,Europe
3,06/12/2021,06,12,2021,5314,59,Austria,AT,AUT,8901064,Europe
4,05/12/2021,05,12,2021,6962,85,Austria,AT,AUT,8901064,Europe

In [97]:
import pandas as pd

eu_variant = pd.DataFrame(eu_covid_files[3])

eu_variant_df = eu_variant.drop(labels=['_id'],axis = 1)


Year_Week2 = eu_variant_df["year_week"].str.split("-", n = 1, expand = True)
Year_Week2[2]=Year_Week2[1].str.extract('(\d+)')  

eu_variant_df["year"] = Year_Week2[0]
eu_variant_df["week"] = Year_Week2[2]

eu_variant_df["year"] = pd.to_numeric(eu_variant_df["year"])
eu_variant_df["week"] = pd.to_numeric(eu_variant_df["week"])


eu_variant_df =eu_variant_df.drop(labels=['year_week'],axis = 1)

eu_variant_df.isnull().sum()
eu_variant_df = eu_variant_df[eu_variant_df['percent_cases_sequenced'].notna()]
eu_variant_df = eu_variant_df[eu_variant_df['number_sequenced_known_variant'].notna()]
eu_variant_df = eu_variant_df[eu_variant_df['percent_variant'].notna()]



# eu_variant_df
#######reducing 36,000 rows to 40% 14631

eu_variant_df=eu_variant_df.sample(frac=0.15,random_state=200)

eu_variant_df

,country,country_code,source,new_cases,number_sequenced,percent_cases_sequenced,valid_denominator,variant,number_detections_variant,number_sequenced_known_variant,percent_variant,year,week
32347,Netherlands,NL,GISAID,70110,2606,3.7,Yes,B.1.1.7,140,2606.0,5.4,2021,28
22998,Italy,IT,GISAID,85031,680,0.8,Yes,B.1.1.7,210,638.0,32.9,2021,3
11470,Estonia,EE,GISAID,7999,157,2.0,Yes,AT.1,0,157.0,0.0,2021,41
14754,France,FR,TESSy,122142,20907,17.1,Yes,B.1.617.3,2,19315.0,0.0,2021,29
13414,France,FR,GISAID,334435,621,0.2,Yes,P.1,0,593.0,0.0,2020,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36804,Portugal,PT,GISAID,16413,509,3.1,Yes,AT.1,0,509.0,0.0,2021,32
20363,Iceland,IS,GISAID,99,95,96.0,Yes,B.1.616,0,94.0,0.0,2021,28
18213,Hungary,HU,GISAID,13797,5,0.0,Yes,B.1.525,0,5.0,0.0,2020,43
34833,Poland,PL,GISAID,69123,708,1.0,Yes,B.1.1.7,490,700.0,70.0,2021,8
5442,Croatia,HR,GISAID,3554,218,6.1,Yes,B.1.526,0,217.0,0.0,2021,20

In [116]:
import pandas as pd

eu_hospital_icu = pd.DataFrame(eu_covid_files[1])

eu_hospital_icu_df = eu_hospital_icu.drop(labels=['_id','url'],axis = 1)

eu_hospital_icu_df.head()

  country                 indicator        date year_week        source  value
0   Malta  Daily hospital occupancy  2021-04-25  2021-W16  Surveillance   35.0
1   Malta  Daily hospital occupancy  2021-04-26  2021-W17  Surveillance   39.0
2   Malta  Daily hospital occupancy  2021-04-27  2021-W17  Surveillance   43.0
3   Malta  Daily hospital occupancy  2021-04-28  2021-W17  Surveillance   39.0
4   Malta  Daily hospital occupancy  2021-04-29  2021-W17  Surveillance   37.0

In [105]:
eu_hospital_icu_df.isnull().sum()

country      0
indicator    0
date         0
year_week    0
source       0
value        0
dtype: int64

In [117]:
Year_Week2 = eu_hospital_icu_df["year_week"].str.split("-", n = 1, expand = True)
Year_Week2[2]=Year_Week2[1].str.extract('(\d+)')  

eu_hospital_icu_df["year"] = Year_Week2[0]
eu_hospital_icu_df["week"] = Year_Week2[2]

eu_hospital_icu_df["year"] = pd.to_numeric(eu_hospital_icu_df["year"])
eu_hospital_icu_df["week"] = pd.to_numeric(eu_hospital_icu_df["week"])


eu_hospital_icu_df =eu_hospital_icu_df.drop(labels=['year_week'],axis = 1)

In [118]:
eu_hospital_icu_df=eu_hospital_icu_df.sample(frac=0.35,random_state=200)

eu_hospital_icu_df

,country,indicator,date,source,value,year,week
4268,Portugal,Daily hospital occupancy,2021-06-28,Country_Website,502.0,2021,26
4276,Portugal,Daily hospital occupancy,2021-07-06,Country_Website,613.0,2021,27
1970,Netherlands,Daily ICU occupancy,2021-02-28,Country_Website,526.0,2021,8
1437,Netherlands,Daily hospital occupancy,2021-06-24,Country_Website,234.0,2021,25
2482,Norway,Daily hospital occupancy,2020-04-19,Country_API,153.0,2020,16
...,...,...,...,...,...,...,...
184,Malta,Daily hospital occupancy,2021-11-06,Country_Website,11.0,2021,44
7787,Slovenia,Daily ICU occupancy,2021-02-13,Country_Github,146.0,2021,6
339,Malta,Daily ICU occupancy,2020-07-22,Surveillance,0.0,2020,30
5979,Slovakia,Daily hospital occupancy,2020-10-16,Country_Website,469.0,2020,42
4488,Portugal,Daily ICU occupancy,2020-04-18,Country_Website,228.0,2020,16

In [143]:
import pandas as pd

eu_tests = pd.DataFrame(eu_covid_files[2])

eu_tests_df = eu_tests.drop(labels=['_id'],axis = 1)

eu_tests_df

eu_tests_df.isnull().values.any()

eu_tests_df.isnull().sum()

Year_Week2 = eu_tests_df["year_week"].str.split("-", n = 1, expand = True)
Year_Week2[2]=Year_Week2[1].str.extract('(\d+)')  

eu_tests_df["year"] = Year_Week2[0]
eu_tests_df["week"] = Year_Week2[2]

eu_tests_df["year"] = pd.to_numeric(eu_tests_df["year"])
eu_tests_df["week"] = pd.to_numeric(eu_tests_df["week"])


eu_tests_df = eu_tests_df.drop(labels=['year_week'],axis = 1)


eu_tests_df

,country,country_code,level,region,region_name,new_cases,tests_done,population,testing_rate,positivity_rate,testing_data_source,year,week
0,Ireland,IE,national,IE,Ireland,2075,101364,4964440,2041.80129078003,2.04707785801665,TESSy,2021,23
1,Ireland,IE,national,IE,Ireland,2033,101885,4964440,2052.29592864452,1.99538695588163,TESSy,2021,24
2,Ireland,IE,national,IE,Ireland,2301,109282,4964440,2201.29561440968,2.10556175765451,TESSy,2021,25
3,Ireland,IE,national,IE,Ireland,3055,121312,4964440,2443.61901845928,2.51829992086521,TESSy,2021,26
4,Ireland,IE,national,IE,Ireland,3666,129475,4964440,2608.0484405089,2.83143463989187,TESSy,2021,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6528,Sweden,SE,national,SE,Sweden,5058,86474,10327589,837.310624967744,5.84915697203784,TESSy,2021,44
6529,Sweden,SE,national,SE,Sweden,5820,100826,10327589,976.278200071672,5.77232063158312,TESSy,2021,45
6530,Sweden,SE,national,SE,Sweden,7095,122386,10327589,1185.03941239335,5.79723170950926,TESSy,2021,46
6531,Sweden,SE,national,SE,Sweden,11918,226289,10327589,2191.11159439052,5.26671645550601,TESSy,2021,47
6532,Sweden,SE,national,SE,Sweden,13805,226289,10327589,2191.11159439052,6.10060586241488,TESSy,2021,48

In [183]:

import pandas as pd
import numpy as np
eu_vaccines = pd.DataFrame(eu_covid_files[4])


eu_vaccines = eu_vaccines.drop(labels=['_id'], axis = 1)



eu_vaccines=eu_vaccines['records']
d = eu_vaccines.to_dict()
df = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in d.items() ]))
eu_vaccines_con_df = df.join(pd.DataFrame(df.pop(0).values.tolist()))
eu_vaccines_df = pd.DataFrame(eu_vaccines_con_df)
eu_vaccines_df.head()

###checking null values######

eu_vaccines_df.isnull().values.any()
eu_vaccines_df.isnull().sum()

eu_vaccines_df.replace(to_replace =['', np.nan],  value ="0", inplace=True)

eu_vaccines_df.head()

,YearWeekISO,FirstDose,FirstDoseRefused,SecondDose,DoseAdditional1,UnknownDose,NumberDosesReceived,NumberDosesExported,Region,Population,ReportingCountry,TargetGroup,Vaccine,Denominator
0,2020-W53,0,0,0,0,0,0,0,AT,8901064,AT,ALL,MOD,8901064
1,2020-W53,0,0,0,0,0,0,0,AT,8901064,AT,ALL,UNK,8901064
2,2020-W53,0,0,0,0,0,0,0,AT,8901064,AT,ALL,AZ,8901064
3,2020-W53,0,0,0,0,0,0,0,AT,8901064,AT,ALL,JANSS,8901064
4,2020-W53,5239,0,0,0,0,61425,0,AT,8901064,AT,ALL,COM,8901064

In [184]:
Year_Week2 = eu_vaccines_df["YearWeekISO"].str.split("-", n = 1, expand = True)
Year_Week2[2]=Year_Week2[1].str.extract('(\d+)')  

eu_vaccines_df["year"] = Year_Week2[0]
eu_vaccines_df["week"] = Year_Week2[2]

eu_vaccines_df["year"] = pd.to_numeric(eu_vaccines_df["year"])
eu_vaccines_df["week"] = pd.to_numeric(eu_vaccines_df["week"])


eu_vaccines_df = eu_vaccines_df.drop(labels=['YearWeekISO'],axis = 1)


eu_vaccines_df

,FirstDose,FirstDoseRefused,SecondDose,DoseAdditional1,UnknownDose,NumberDosesReceived,NumberDosesExported,Region,Population,ReportingCountry,TargetGroup,Vaccine,Denominator,year,week
0,0,0,0,0,0,0,0,AT,8901064,AT,ALL,MOD,8901064,2020,53
1,0,0,0,0,0,0,0,AT,8901064,AT,ALL,UNK,8901064,2020,53
2,0,0,0,0,0,0,0,AT,8901064,AT,ALL,AZ,8901064,2020,53
3,0,0,0,0,0,0,0,AT,8901064,AT,ALL,JANSS,8901064,2020,53
4,5239,0,0,0,0,61425,0,AT,8901064,AT,ALL,COM,8901064,2020,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9793,813,0,337,7912,0,0,0,SK,5457873,SK,Age70_79,COM,391090,2021,50
9794,97,0,23,1831,0,0,0,SK,5457873,SK,Age70_79,MOD,391090,2021,50
9795,8,0,0,0,0,0,0,SK,5457873,SK,Age80+,JANSS,184680,2021,50
9796,381,0,160,2234,0,0,0,SK,5457873,SK,Age80+,COM,184680,2021,50
9797,0,0,3,0,0,0,0,SK,5457873,SK,AgeUNK,COM,0,2021,50

In [185]:
eu_vaccines_df=eu_vaccines_df.sample(frac=0.5,random_state=200)
eu_vaccines_df

,FirstDose,FirstDoseRefused,SecondDose,DoseAdditional1,UnknownDose,NumberDosesReceived,NumberDosesExported,Region,Population,ReportingCountry,TargetGroup,Vaccine,Denominator,year,week
1631,10640,0,10612,0,0,0,0,BG,6951482,BG,Age60_69,COM,938635,2021,19
7017,0,0,0,50,0,0,0,PL63,37958138,PL,Age80+,MOD,91733,2021,47
2158,164,0,0,0,0,0,0,BG,6951482,BG,HCW,JANSS,243600,2021,31
1075,0,0,0,0,0,0,0,BG,6951482,BG,ALL,MOD,6951482,2021,1
2550,11220,0,11129,3240,0,12870,0,BG,6951482,BG,ALL,COM,6951482,2021,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8049,43,0,121,0,0,0,0,PL,37958138,PL,ALL,AZ,37958138,2021,49
9416,2,0,0,0,0,0,0,SK,5457873,SK,AgeUNK,JANSS,0,2021,37
1849,24,0,0,0,0,0,0,BG,6951482,BG,Age<18,JANSS,1189680,2021,24
8021,34,0,40,876,0,0,0,PL72,37958138,PL,HCW,COM,0,2021,48
53,0,0,0,0,0,0,0,AT,8901064,AT,Age80+,UNK,474047,2020,53

In [191]:
eu_vaccines_df=eu_vaccines_df.drop(['FirstDoseRefused','DoseAdditional1','UnknownDose','Denominator'], axis = 1)

In [192]:
eu_vaccines_df

,FirstDose,SecondDose,NumberDosesReceived,NumberDosesExported,Region,Population,ReportingCountry,TargetGroup,Vaccine,year,week
1631,10640,10612,0,0,BG,6951482,BG,Age60_69,COM,2021,19
7017,0,0,0,0,PL63,37958138,PL,Age80+,MOD,2021,47
2158,164,0,0,0,BG,6951482,BG,HCW,JANSS,2021,31
1075,0,0,0,0,BG,6951482,BG,ALL,MOD,2021,1
2550,11220,11129,12870,0,BG,6951482,BG,ALL,COM,2021,41
...,...,...,...,...,...,...,...,...,...,...,...
8049,43,121,0,0,PL,37958138,PL,ALL,AZ,2021,49
9416,2,0,0,0,SK,5457873,SK,AgeUNK,JANSS,2021,37
1849,24,0,0,0,BG,6951482,BG,Age<18,JANSS,2021,24
8021,34,40,0,0,PL72,37958138,PL,HCW,COM,2021,48
53,0,0,0,0,AT,8901064,AT,Age80+,UNK,2020,53

In [208]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

In [210]:
aws_mysql_db_connect = mysql.connector.connect(host = 'rds-eu-covid.combhve5oi2t.us-east-1.rds.amazonaws.com', user = 'admin', password = 'C}wdkn9WxayH')

In [24]:
try:
    
    if aws_mysql_db_connect.is_connected():
        cursor = aws_mysql_db_connect.cursor()
        cursor.execute("DROP DATABASE IF EXISTS EU_Covid_Database;")
        cursor.execute("CREATE DATABASE EU_Covid_Database")
        print("EU_Covid_Database Database is created.")
except Error as e:
    print("Error while connecting to MYSQL", e)

EU_Covid_Database Database is created.

In [199]:
if aws_mysql_db_connect.is_connected():
    cursor = aws_mysql_db_connect.cursor()
    cursor.execute("use EU_Covid_Database")                       # SQL to connect to Database - DAP_Project
#     cursor.execute('DROP TABLE IF EXISTS EU_Covid_Deaths;')     # It will remove table if already present
    print('Creating 5 tables...')
#Creating table for 1st dataset:  
    cursor.execute('DROP TABLE IF EXISTS EU_Covid_Deaths;')     

    cursor.execute('''                                      
    CREATE TABLE EU_Covid_Deaths(
    
    dateofreport TEXT,
    day int,
    month int,
    year int,
    cases int,
    deaths int,
    country VARCHAR(20),
    geo_id VARCHAR(20),
    country_code VARCHAR(20),
    population_2020 VARCHAR(20),
    continent VARCHAR(20)
    )''')




# Creating table for 2nd dataset:    
    cursor.execute('''                                      
    CREATE TABLE EU_Variants(
        country VARCHAR(20),
        country_code VARCHAR(20), 
        source VARCHAR(30),
        new_cases int,
        number_sequenced int,
        person_cases_sequenced int,
        valid_denominator VARCHAR(20),
        variant VARCHAR(30),
        number_detections_variant int,
        number_sequence_known_variant  DECIMAL(10,0),
        percent_variant  DECIMAL(10,0),
        year int,
        week int
      )''')


# Creating table for 3rd dataset:
    cursor.execute('''                                      
    CREATE TABLE EU_Hospital_ICU(
        country VARCHAR(20),
        indicator VARCHAR(40), 
        date TEXT,
        source VARCHAR(40),
        value DECIMAL(10,0),
        year int,
        week int
      )''')

# Creating table for 4th dataset:
    cursor.execute('''                                      
    CREATE TABLE EU_Tests(
        country VARCHAR(20),
        country_code VARCHAR(20),
        level VARCHAR(10),
        region VARCHAR(5),
        region_name VARCHAR(20),
        new_cases int,
        tests_done int,
        population int,
        testing_rate DECIMAL(10,10),
        positivity_rate DECIMAL(10,10),
        testing_data_source VARCHAR(20),
        year int,
        week int
      )''')
    
# Creating table for 5th dataset:
    cursor.execute('''                                      
    CREATE TABLE EU_Vaccines(
        first_dose int,
        second_dose int,
        no_of_doses_received int,
        no_of_doses_exported int,
        region VARCHAR(20),
        reporting_country VARCHAR(5),
        population int,
        target_group VARCHAR(20),
        vaccine VARCHAR (20),
        year int,
        week int
      )''')


print('Done creating 5 tables')

Creating 5 tables...
Done creating 5 tables

In [200]:
aws_mysql_db_connect.commit()

In [201]:
try:
    if aws_mysql_db_connect.is_connected():
        for value,row in eu_deaths_df.iterrows():
            sql = "INSERT INTO EU_Covid_Database.EU_Covid_Deaths VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            aws_mysql_db_connect.commit()
        for value,row in eu_variant_df.iterrows():
#              print(value)
#              print(row)
            sql = "INSERT INTO EU_Covid_Database.EU_Variants VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            aws_mysql_db_connect.commit()
        for value,row in eu_hospital_icu_df.iterrows():
            sql = "INSERT INTO EU_Covid_Database.EU_Hospital_ICU VALUES (%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            aws_mysql_db_connect.commit()
        for value,row in eu_tests_df.iterrows():
            sql = "INSERT INTO EU_Covid_Database.EU_Tests VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            aws_mysql_db_connect.commit()
        for value,row in eu_vaccines_df.iterrows():
            sql = "INSERT INTO EU_Covid_Database.EU_Vaccines VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            aws_mysql_db_connect.commit()  
except Error as e:
    print("Error connecting AWSMySQL", e)
    
print("updating into AWS MySQL EU_Covid_Database   ")

updating into AWS MySQL EU_Covid_Database

In [1]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

In [2]:
aws_mysql_db_connect = mysql.connector.connect(host = 'rds-eu-covid.combhve5oi2t.us-east-1.rds.amazonaws.com', user = 'admin', password = 'C}wdkn9WxayH')

In [9]:
eu_deaths_df = pd.read_sql('SELECT * FROM EU_Covid_Database.EU_Covid_Deaths', con=aws_mysql_db_connect)
eu_variant_df = pd.read_sql('SELECT * FROM EU_Covid_Database.EU_Variants', con=aws_mysql_db_connect)
eu_hospital_icu_df = pd.read_sql('SELECT * FROM EU_Covid_Database.EU_Hospital_ICU', con=aws_mysql_db_connect)
eu_tests_df = pd.read_sql('SELECT * FROM EU_Covid_Database.EU_Tests', con=aws_mysql_db_connect)
eu_vaccines_df = pd.read_sql('SELECT * FROM EU_Covid_Database.EU_Vaccines', con=aws_mysql_db_connect)

In [4]:
eu_deaths_df

,dateofreport,day,month,year,cases,deaths,country,geo_id,country_code,population_2020,continent
0,09/12/2021,9,12,2021,6208,47,Austria,AT,AUT,8901064,Europe
1,08/12/2021,8,12,2021,3879,67,Austria,AT,AUT,8901064,Europe
2,07/12/2021,7,12,2021,4645,69,Austria,AT,AUT,8901064,Europe
3,06/12/2021,6,12,2021,5314,59,Austria,AT,AUT,8901064,Europe
4,05/12/2021,5,12,2021,6962,85,Austria,AT,AUT,8901064,Europe
...,...,...,...,...,...,...,...,...,...,...,...
7986,05/03/2021,5,3,2021,4069,15,Sweden,SE,SWE,10327589,Europe
7987,04/03/2021,4,3,2021,4882,19,Sweden,SE,SWE,10327589,Europe
7988,03/03/2021,3,3,2021,4873,18,Sweden,SE,SWE,10327589,Europe
7989,02/03/2021,2,3,2021,6190,23,Sweden,SE,SWE,10327589,Europe
7990,01/03/2021,1,3,2021,668966,13079,Sweden,SE,SWE,10327589,Europe

In [5]:
eu_variant_df

,country,country_code,source,new_cases,number_sequenced,person_cases_sequenced,valid_denominator,variant,number_detections_variant,number_sequence_known_variant,percent_variant,year,week
0,Netherlands,NL,GISAID,70110,2606,4,Yes,B.1.1.7,140,2606.0,5.0,2021,28
1,Italy,IT,GISAID,85031,680,1,Yes,B.1.1.7,210,638.0,33.0,2021,3
2,Estonia,EE,GISAID,7999,157,2,Yes,AT.1,0,157.0,0.0,2021,41
3,France,FR,TESSy,122142,20907,17,Yes,B.1.617.3,2,19315.0,0.0,2021,29
4,France,FR,GISAID,334435,621,0,Yes,P.1,0,593.0,0.0,2020,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5482,Portugal,PT,GISAID,16413,509,3,Yes,AT.1,0,509.0,0.0,2021,32
5483,Iceland,IS,GISAID,99,95,96,Yes,B.1.616,0,94.0,0.0,2021,28
5484,Hungary,HU,GISAID,13797,5,0,Yes,B.1.525,0,5.0,0.0,2020,43
5485,Poland,PL,GISAID,69123,708,1,Yes,B.1.1.7,490,700.0,70.0,2021,8
5486,Croatia,HR,GISAID,3554,218,6,Yes,B.1.526,0,217.0,0.0,2021,20

In [6]:
eu_hospital_icu_df

,country,indicator,date,source,value,year,week
0,Portugal,Daily hospital occupancy,2021-06-28,Country_Website,502.0,2021,26
1,Portugal,Daily hospital occupancy,2021-07-06,Country_Website,613.0,2021,27
2,Netherlands,Daily ICU occupancy,2021-02-28,Country_Website,526.0,2021,8
3,Netherlands,Daily hospital occupancy,2021-06-24,Country_Website,234.0,2021,25
4,Norway,Daily hospital occupancy,2020-04-19,Country_API,153.0,2020,16
...,...,...,...,...,...,...,...
3670,Malta,Daily hospital occupancy,2021-11-06,Country_Website,11.0,2021,44
3671,Slovenia,Daily ICU occupancy,2021-02-13,Country_Github,146.0,2021,6
3672,Malta,Daily ICU occupancy,2020-07-22,Surveillance,0.0,2020,30
3673,Slovakia,Daily hospital occupancy,2020-10-16,Country_Website,469.0,2020,42
3674,Portugal,Daily ICU occupancy,2020-04-18,Country_Website,228.0,2020,16

In [7]:
eu_tests_df

,country,country_code,level,region,region_name,new_cases,tests_done,population,testing_rate,positivity_rate,testing_data_source,year,week
0,Ireland,IE,national,IE,Ireland,2075,101364,4964440,1.0,1.0,TESSy,2021,23
1,Ireland,IE,national,IE,Ireland,2033,101885,4964440,1.0,1.0,TESSy,2021,24
2,Ireland,IE,national,IE,Ireland,2301,109282,4964440,1.0,1.0,TESSy,2021,25
3,Ireland,IE,national,IE,Ireland,3055,121312,4964440,1.0,1.0,TESSy,2021,26
4,Ireland,IE,national,IE,Ireland,3666,129475,4964440,1.0,1.0,TESSy,2021,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6528,Sweden,SE,national,SE,Sweden,5058,86474,10327589,1.0,1.0,TESSy,2021,44
6529,Sweden,SE,national,SE,Sweden,5820,100826,10327589,1.0,1.0,TESSy,2021,45
6530,Sweden,SE,national,SE,Sweden,7095,122386,10327589,1.0,1.0,TESSy,2021,46
6531,Sweden,SE,national,SE,Sweden,11918,226289,10327589,1.0,1.0,TESSy,2021,47
6532,Sweden,SE,national,SE,Sweden,13805,226289,10327589,1.0,1.0,TESSy,2021,48

In [10]:
eu_vaccines_df

,first_dose,second_dose,no_of_doses_received,no_of_doses_exported,region,reporting_country,population,target_group,vaccine,year,week
0,10640,10612,0,0,BG,69514,0,Age60_69,COM,2021,19
1,0,0,0,0,PL63,37958,0,Age80+,MOD,2021,47
2,164,0,0,0,BG,69514,0,HCW,JANSS,2021,31
3,0,0,0,0,BG,69514,0,ALL,MOD,2021,1
4,11220,11129,12870,0,BG,69514,0,ALL,COM,2021,41
...,...,...,...,...,...,...,...,...,...,...,...
4894,43,121,0,0,PL,37958,0,ALL,AZ,2021,49
4895,2,0,0,0,SK,54578,0,AgeUNK,JANSS,2021,37
4896,24,0,0,0,BG,69514,0,Age<18,JANSS,2021,24
4897,34,40,0,0,PL72,37958,0,HCW,COM,2021,48
4898,0,0,0,0,AT,89010,0,Age80+,UNK,2020,53

In [12]:
aws_mysql_db_connect.close()